@charset "UTF-8";
:root {
  /* font */
  --main-font: Roboto, sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* colors */
  --main-white-cl: #ffffff;
  --accent-cl: #2196f3;
  --second-accent-cl: #188ce8;
  /* fills borders*/
  --main-fill-light: #afb1b8;
  --accent-fill-cl: rgba(255, 255, 255, 0.3);
  --second-border-cl: rgba(0, 0, 0, 0.1);
  --main-border-cl: rgba(33, 33, 33, 0.2);
  --bg-border-cl: #eeeeee;
  /* text colors */
  --main-txt-cl: #757575;
  --title-txt-cl: #212121;
  --accent-cl-white: rgba(255, 255, 255, 0.6);
  --accent-cl-dark: #000000;
  /* background colors */
  --main-bg-cl: #e5e5e5;
  --secondary-bg-cl: #f5f4fa;
  --dark-bg-cl: #2f303a;
  --backdrop-bg-cl: rgba(0, 0, 0, 0.2);
  --input-bg-cl: rgba(117, 117, 117, 0.5);
  --accent-bg-cl: rgba(255, 255, 255, 0.1);
  --group-bg-cl: rgba(47, 48, 58, 0.8);
  --action-bg-cl: rgba(33, 150, 243, 0.9);
  /* shadows */
  --main-bcg-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  --accent-bcg-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* Animation */
  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  list-style-type: none;
}

.social-icons__item {
  margin-right: 10px;
}

.social-icons__item:last-child {
  margin-right: 0;
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

/*
============================
| Modal form / Модальное окно
============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  background-color: var(----backdrop-bg-cl);
  opacity: 1;
  z-index: 100;
  -webkit-transition: opacity var(--main-animation), visibility var(--main-animation);
  transition: opacity var(--main-animation), visibility var(--main-animation);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  padding: 0;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 450px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  background-color: var(--main-white-cl);
  -webkit-box-shadow: var(--main-bcg-shadow);
          box-shadow: var(--main-bcg-shadow);
  -webkit-transition: opacity var(--main-animation), visibility var(--main-animation);
  transition: opacity var(--main-animation), visibility var(--main-animation);
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    padding: 0;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid var(--second-border-cl);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: background-color var(--main-animation);
  transition: background-color var(--main-animation);
}

.modal__btn-close:hover, .modal__btn-close:focus {
  fill: var(--accent-cl);
}

/*
============================
| Modal form / Модальное окно
============================
*/
.modal-form {
  text-align: center;
  margin-top: 0;
}

@media screen and (min-width: 1200px) {
  .modal-form {
    position: absolute;
    margin: 40px;
  }
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-txt-cl);
}

.modal-form__label {
  position: relative;
  display: block;
  margin-bottom: 10px;
  -webkit-transition: background-color var(--main-animation);
  transition: background-color var(--main-animation);
}

.modal-form__label:focus, .modal-form__label:hover {
  fill: var(--accent-cl);
}

.modal-form__text {
  display: block;
  margin: 0;
  margin-bottom: 4px;
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: var(--main-txt-cl);
}

.modal-form__input {
  display: block;
  margin: 0;
  font: inherit;
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  cursor: pointer;
  border: 1px solid var(--main-border-cl);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color var(--main-animation);
  transition: border-color var(--main-animation);
}

.modal-form__input:hover, .modal-form__input:focus {
  outline: none;
  border-color: var(--accent-cl);
}

@media screen and (min-width: 1200px) {
  .modal-form__input {
    display: block;
    margin: 0;
    font: inherit;
  }
}

.modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  right: 12px;
  background-color: var(--main-white-cl);
}

.modal-form__label:focus-within .modal-form__icon {
  fill: var(--accent-cl);
}

.modal-form__input-comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--input-bg-cl);
}

.modal-form__btn {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
}

.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: var(--second-accent-cl);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  border: 1px solid var(--accent-cl-dark);
  -webkit-box-shadow: var(--accent-bcg-shadow);
          box-shadow: var(--accent-bcg-shadow);
}

.checkbox__input:checked + .checkbox__icon {
  border-color: var(--accent-cl);
  background-color: var(--accent-cl);
  background-size: contain;
  background-origin: border-box;
}

.checkbox__text {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    line-height: 24px;
  }
}

.checkbox__link {
  color: var(--accent-cl);
}

/*
============================
| Header section / Шапка сайта
============================
*/
/*
============================
| Hero section / Герой
============================
*/
/*
============================
| About section / Особенности компании
============================
*/
/*
============================
| Gallery section / Чем мы занимаемся
============================
*/
/*
============================
| Team section / Наша команда
============================
*/
/*
============================
| Clients / Клиенты
============================
*/
/* 
============================
| Projects section / Проекты
============================
*/
/*
============================
| Footer section / Подвал 
============================
*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer {
  background-color: #fff5f6;
  border: 1px solid #000000;
  border-top: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-bottom: 40px;
  width: 234px;
}

.footer__upper-title {
  margin-bottom: 16px;
  text-align: left;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffa5ba;
}

.footer__main-title {
  text-align: left;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.footer__icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.footer__contacts-phone {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  text-align: right;
  color: #000000;
}

.footer__contacts-phone--accent {
  color: #d41443;
}

.footer-sign {
  border-top: 1px solid #e1e1e1;
}

.footer__sign-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  /* or 21px */
  text-align: center;
  color: #907e82;
}

.socials__link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fea5bb;
}

.socials__link:hover, .socials__link:focus {
  background-color: #d41443;
}

.socials__picture {
  fill: #ffffff;
}

.socials__link:hover .socials__picture {
  fill: var(--main-white-cl);
}

/*
============================
| Address section / Адрес секция
============================
*/
/* 
============================
| Join section / Присоединяйтесь
============================
*/
/* 
============================
| Subscribe section / Подпишитесь на рассылку
============================
*/
/*# sourceMappingURL=main.css.map */