@charset "UTF-8";
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
============================
| Header section / Шапка сайта
============================
*/
/*
============================
| Hero section / Герой
============================
*/
/*
============================
| About section / Особенности компании
============================
*/
/*
============================
| Gallery section / Чем мы занимаемся
============================
*/
/*
============================
| Team section / Наша команда
============================
*/
/*
============================
| Clients / Клиенты
============================
*/
/* 
============================
| Projects section / Проекты
============================
*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer {
  background-color: #fff5f6;
  border: 1px solid #000000;
  border-top: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-bottom: 40px;
  width: 234px;
}

.footer__upper-title {
  margin-bottom: 16px;
  text-align: left;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffa5ba;
}

.footer__main-title {
  text-align: left;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.footer__icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-bottom: 40px;
}

.footer__icons-item {
  margin-right: 28px;
}

.footer__icons-item:last-child {
  margin-right: 0;
}

.footer__icons-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fea5bb;
}

.footer__icons-link:hover, .footer__icons-link:focus {
  background-color: #d41443;
}

.footer__icons-picture {
  fill: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts-phone {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  text-align: right;
  color: #000000;
}

.footer__contacts-phone--accent {
  color: #d41443;
}

.footer-sign::before {
  margin-top: 16px;
  content: '';
  border-top: 1px solid #e1e1e1;
  width: 100%;
}

.footer__sign-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  /* or 21px */
  text-align: center;
  color: #907e82;
}
/*# sourceMappingURL=main.css.map */