.checkbox {
  @include display-flex(center, center);
  margin-bottom: 30px;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  border: 1px solid var(--accent-cl-dark);
  box-shadow: var(--accent-bcg-shadow);

  .checkbox__input:checked + & {
    border-color: var(--accent-cl);
    background-color: var(--accent-cl);
    background-size: contain;
    background-origin: border-box;
  }
}

.checkbox__text {
  @include fonts(12px, 1.71, 0.03em);
  color: var(--main-txt-cl);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 24px;
  }
}

.checkbox__link {
  color: var(--accent-cl);
}
