/*
============================
| Modal form / Модальное окно
============================
*/

// .modal-form {
//   text-align: center;
//   margin-top: 0;

//   @media screen and (min-width: 1200px) {
//     position: absolute;
//     margin: 40px;
//   }
// }

// .modal-form__title {
//   margin-bottom: 12px;
//   font-weight: 700;
//   @include fonts(20px, 1.15, 0.03em);
//   text-align: center;
//   color: var(--title-txt-cl);
// }

// .modal-form__label {
//   position: relative;
//   display: block;
//   margin-bottom: 10px;
//   transition: background-color var(--main-animation);

//   &:focus,
//   &:hover {
//     fill: var(--accent-cl);
//   }
// }

// .modal-form__text {
//   display: block;
//   margin: 0;
//   margin-bottom: 4px;
//   text-align: left;
//   @include fonts(12px, 1.17, 0.01em);
//   cursor: pointer;
//   color: var(--main-txt-cl);
// }

// .modal-form__input {
//   display: block;
//   margin: 0;
//   font: inherit;
//   width: 100%;
//   height: 40px;
//   padding-top: 12px;
//   padding-bottom: 12px;
//   padding-left: 42px;
//   cursor: pointer;
//   border: 1px solid var(--main-border-cl);
//   border-radius: 4px;
//   outline: transparent;
//   transition: border-color var(--main-animation);

//   &:hover,
//   &:focus {
//     outline: none;
//     border-color: var(--accent-cl);
//   }

//   @media screen and (min-width: 1200px) {
//     display: block;
//     margin: 0;
//     font: inherit;
//   }
// }

// .modal-form__icon {
//   position: absolute;
//   width: 18px;
//   height: 18px;
//   top: 50%;
//   left: 12px;
//   right: 12px;
//   background-color: var(--main-white-cl);

//   .modal-form__label:focus-within & {
//     fill: var(--accent-cl);
//   }
// }

// .modal-form__input-comment {
//   resize: none;
//   height: 120px;
//   padding: 12px 16px;
//   margin-bottom: 20px;
//   @include fonts(12px, 1.17, 0.01em);
//   color: var(--input-bg-cl);
// }

// .modal-form__btn {
//   margin-left: auto;
//   margin-right: auto;
//   padding: 10px 55px;

//   &:hover,
//   &:focus {
//     background-color: var(--second-accent-cl);
//   }
// }
