/*
============================
| About section / Особенности компании
============================
*/

// .about__list {
//   text-align: center;

//   @media screen and (min-width: 768px) {
//     display: flex;
//     flex-wrap: wrap;
//     flex-basis: 50%;
//     text-align: left;
//   }

//   @media screen and (min-width: 1200px) {
//     @include display-flex(center);
//     margin-left: auto;
//     flex-wrap: nowrap;
//   }
// }
// .about__item {
//   margin-bottom: 30px;
//   &:last-child {
//     margin-bottom: 0;
//   }

//   @media screen and (min-width: 768px) {
//     width: 354px;

//     &:first-child {
//       margin-right: 30px;
//     }
//     &:last-child {
//       margin-left: 30px;
//     }
//     &:nth-child(3) {
//       margin-bottom: 0;
//     }
//   }
//   @media screen and (min-width: 1200px) {
//     margin-right: 30px;
//     width: 270px;
//     margin-bottom: 0;

//     &:last-child {
//       margin-right: 0;
//       margin-left: 0;
//     }
//   }
// }

// .about__icon-group {
//   @include display-flex(center, center);
//   margin-bottom: 30px;
//   border-radius: 4px;
//   height: 120px;
//   background-color: var(--secondary-bg-cl);
// }

// .about__icon {
//   width: 70px;
//   height: 70px;
// }

// .about__text {
//   line-height: 1.7;
//   text-align: left;
// }
