/*
============================
| Footer section / Подвал 
============================
*/

.footer {
  padding-top: 60px;
  padding-bottom: 57px;
  background-color: var(--dark-bg-cl);
}

.footer__holder {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    @include display-flex(baseline);
    flex-wrap: nowrap;
    justify-content: center;
  }
}
